.body__container {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
@layer {
    .presentation{
        @apply text-slate-200 font-semibold absolute top-28 whitespace-nowrap ;
    }
}
@layer{
    .click__presentation{
        @apply bottom-28 text-slate-200 absolute font-semibold ;
    }
}

.body__container  .container_ {
    width: 360px;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body__container .device,
.body__container .device::before,
.body__container .device::after {
    transition: 0.4s cubic-bezier(0.5, 1.7, 0.5, 1.2);
}

.body__container .device {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: linear-gradient(120deg, #ddd 30%, #ccc 30%);
    transform: translateY(-25%);
}

.body__container .device::before,
.body__container .device::after {
    content: '';
    position: absolute;
}

.body__container .iphone::before,
.body__container .mini::before,
.body__container .ipad::before {
    width: 2px;
    height: 2px;
    border: solid #a5adbe;
    border-width: 0 12px 0 2px;
}

.body__container .iphone::after,
.body__container .mini::after,
.body__container .ipad::after {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
}

.body__container .iphone {
    width: 59px;
    height: 124px;
    border: solid #484f5e;
    border-width: 18px 4px;
    border-radius: 6px;
}

.body__container .iphone::before {
    top: -10px;
}

.body__container .iphone::after {
    bottom: -13px;
}

.body__container .mini {
    width: 93px;
    height: 138px;
    border: solid #484f5e;
    border-width: 14px 5px;
    border-radius: 10px;
}

.body__container .mini::before {
    top: -8px;
}

.body__container .mini::after {
    bottom: -11px;
}

.body__container .ipad {
    width: 134px;
    height: 176px;
    border: solid #484f5e;
    border-width: 18px 13px;
    border-radius: 12px;
}

.body__container .ipad::before {
    top: -10px;
}

.body__container .ipad::after {
    bottom: -13px;
}

.body__container .macbook {
    width: 234px;
    height: 155px;
    border: 8px solid #484f5e;
    border-radius: 7px 7px 0 0;
}

.body__container .macbook::before {
    width: 294px;
    height: 14px;
    background-color: #e8ebf0;
    top: calc(100% + 8px);
    border-radius: 0 0 14px 14px;
}

.body__container .macbook::after {
    width: 3px;
    height: 3px;
    background-color: #a5adbe;
    top: -6px;
    border-radius: 50%;
}

.body__container .imac {
    width: 360px;
    height: 215px;
    box-shadow: 
        inset 0 14px #484f5e,
        inset 14px 0 #484f5e,
        inset -14px 0 #484f5e;
    border-bottom: 33px solid #e8ebf0;
    border-radius: 10px;
}

.body__container .imac::before {
    width: 90px;
    height: 0;
    top: calc(100% + 33px);
    border: solid transparent;
    border-bottom-color: #e2e4e8;
    border-width: 0 10px 47px 10px;
}

.body__container .imac::after {
    width: 4px;
    height: 4px;
    background-color: #a5adbe;
    top: 5px;
    border-radius: 50%;
    box-shadow: 0 191px 0 4px #464e5d;
}

.body__container .buttons {
    position: absolute;
    width: inherit;
    font-size: 30px;
    height: 2em;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.body__container .buttons > * {
    position: relative;
    width: 4em;
}

.body__container .buttons > *:active {
    transform: scale(0.9);
    filter: brightness(0.8);
}

.body__container .buttons > *::before {
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: #484f5e;
    color: silver;
    text-align: center;
    line-height: 2em;
    border-radius: 1em;
    cursor: pointer;

    transition: 0.2s;
}

.body__container .buttons .left::before {
    content: '←';
    right: 0;
}

.body__container .buttons .right::before {
    content: '→';
}

.body__container .buttons > *:hover::before {
    width: 4em;
}

.body__container .buttons .left:hover::before {
    content: '⟵';
}

.body__container .buttons .right:hover::before {
    content: '⟶';
}
