/* ::-webkit-scrollbar{
    width: .5em;
}
::-webkit-scrollbar-track{
    background:red;
    margin-block: .5em;
}
::-webkit-scrollbar-thumb{
    background: #04247D;
  
} */


.nav-item li:hover .nav-side::before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0px;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  /* background: red; */
  pointer-events: none;
  background: transparent;
  box-shadow: 35px 35px 0 10px white;
}

.nav-item li:hover .nav-side::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 0px;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  /* background: red; */
  pointer-events: none;
  background: transparent;
  box-shadow: 35px -35px 0 10px white;
}

.main-body {
  width: calc(100% - 240px);
  position: absolute;
  left: 100%;
}
.main-body.active {
  width: calc(100% - 80px);
  left: 80px;
}


@media (max-width:765px){
    .main-body {
        width: 100%;
        left: 0px;
    }
    .active .nav-item li:hover .nav-side::after {
        box-shadow: 35px -35px 0 10px white;
      }
      .active .nav-item li:hover .nav-side::before {
        box-shadow: 35px 35px 0 10px white;
      }
 
}
