.nav-item li:hover .nav-side::before{
content: '';
position: absolute;
top: -50px;
right: 0px;
width: 50px;
aspect-ratio: 1;
border-radius: 50%;
/* background: red; */
pointer-events: none;
background: transparent;
box-shadow: 35px 35px 0 10px white;

}

.nav-item li:hover .nav-side::after{
    content: '';
    position: absolute;
    bottom: -50px;
    right: 0px;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    /* background: red; */
    pointer-events: none;
    background: transparent;
    box-shadow: 35px -35px 0 10px white;
    
    }

    .main-body{
        width: calc(100%  - 320px);
        position: absolute;
        left: 240px;
        right: 80px;
        /* min-height: 100vh; */
    }