.ellipse-container {
    position: absolute;
    width: 30px;
    height: fit-content;
    pointer-events: none;
    opacity: 0;
    animation: moveAround 50s infinite linear;
}

.ellipse-container>img {
    width: 100%;
}

@keyframes moveAround {
    0% {
        opacity: 0.1;
        transform: translate(0, 0);
    }

    25% {
        opacity: 0.5;
        transform: translate(20vw, 20vh);
    }

    50% {
        opacity: 1;
        transform: translate(40vw, 0);
    }

    75% {
        opacity: .5;
        transform: translate(20vw, -20vh);
    }

    100% {
        opacity: 0;
        transform: translate(0, 0);
    }
}