.logo__container {
  width: 50px;
  height: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
  transform: scale(1.5);
}

.small {
  transform: scale(0.8);
}

.logo {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.logo > div {
  width: 50px;
  height: 100%;
  padding: 0 2.5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: logo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.logo__content1 {
  width: 19px;
  height: 19px;
  background-color: black;
}

.logo__content2 {
  width: 19px;
  height: 19px;
  border: 1px solid black;
}

@keyframes logo {
  0% {
    left: 30px;
  }

  5% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -26px;
  }

  45% {
    left: -26px;
  }

  50% {
    left: -47px;
  }

  100% {
    left: -47px;
  }
}
