.logo__container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
  transform: scale(1.5);
}

.small {
  transform: scale(0.6);
}

.logo {
  width: 25px;
  height: 25px;
  border: 1px solid #212a37;
  position: relative;
  overflow: hidden;
}

.two .logo {
  /* border: 1px solid rgb(226 232 240); */
  border: 1px solid #fffff0;
}

.logo > div {
  width: 50px;
  height: 100%;
  padding: 0 2.5px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: logo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.logo__content1 {
  width: 19px;
  height: 19px;
  background-color: #212a37;
}

.two .logo__content1 {
  /* background-color: rgb(226 232 240); */
  background-color: #fffff0;
}

.logo__content2 {
  width: 19px;
  height: 19px;
  border: 1px solid #212a37;
}

.two .logo__content {
  /* border: 1px solid rgb(226 232 240); */
  border: 1px solid #fffff0;
}

.two .logo__content2 {
  /* border: 1px solid rgb(226 232 240); */
  border: 1px solid #fffff0;
}

.two.active .logo {
  /* border: 1px solid rgb(226 232 240); */
  border: 1px solid #212a37 !important;
}

.two.active .logo__content1 {
  /* background-color: rgb(226 232 240); */
  background-color: #212a37 !important;
}

.two.active .logo__content {
  /* border: 1px solid rgb(226 232 240); */
  border: 1px solid #212a37 !important;
}

.two.active .logo__content2 {
  /* border: 1px solid rgb(226 232 240); */
  border: 1px solid #212a37 !important;
}

@keyframes logo {
  0% {
    left: 30px;
  }

  5% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -26px;
  }

  45% {
    left: -26px;
  }

  50% {
    left: -47px;
  }

  100% {
    left: -47px;
  }
}
