@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  /* width: 0;
  height: 0; */
  /* margin-right: 1rem; */
  /* @apply w-0 h-0 md:w-[0.3rem] md:h-[0.2rem] */
  @apply w-0 h-0;
  /* display: none; */
}

*::-webkit-scrollbar-thumb {
  @apply bg-black/50 border-2 w-1 border-white rounded-2xl;
}

*::-webkit-scrollbar-track {
  @apply w-2 bg-transparent rounded-2xl;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-black/60 rounded-2xl;
}

*::-webkit-scrollbar-thumb:active {
  @apply bg-black rounded-2xl;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

html {
  scroll-behavior: smooth;
}

button {
  @apply hover:animate-none active:scale-95 transition-all duration-200;
}

textarea:focus,
input:focus {
  outline: none;
}

img {
  -webkit-user-drag: none;
}
