@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 400ms ease-in-out !important;
}

*::-webkit-scrollbar {
  /* width: 0;
  height: 0; */
  /* margin-right: 1rem; */
  /* @apply w-0 h-0 md:w-[0.3rem] md:h-[0.2rem] */
  @apply w-0 h-0;
  /* display: none; */
}

*::-webkit-scrollbar-thumb {
  @apply bg-black/50 border-2 w-1 border-white rounded-2xl;
}

*::-webkit-scrollbar-track {
  @apply w-2 bg-transparent rounded-2xl;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-black/60 rounded-2xl;
}

*::-webkit-scrollbar-thumb:active {
  @apply bg-black rounded-2xl;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

html {
  scroll-behavior: smooth;
}

button {
  @apply hover:animate-none active:scale-95 transition-all duration-200;
}

textarea:focus,
input:focus {
  outline: none;
}

img {
  -webkit-user-drag: none;
}

input:checked.chapter ~ div .chapter-child {
  @apply bg-white;
}

/*beginning of documentation page  */

.sub-heading > li {
  position: relative;
}

.sub-heading > li:after {
  width: 5px;
  position: absolute;
  content: "";
  background-color: transparent;
  /* border: 1px solid white; */
  height: 5px;
  border-radius: 50%;
  z-index: 50;
  left: -11px;
  top: 50%;
  transform: translateY(-50%);
  @apply border border-black md:border-white;
}

.sub-heading::after {
  content: "";
  position: absolute;
  height: 85%;
  width: 0.5px;
  left: 15px;
  top: 15px;
  background-color: white;
  @apply bg-black md:bg-white
  /* z-index: 20; */;
}
.isActive {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 2s ease-in-out;
}
.isActive > div {
  overflow: hidden;
}
.isActive.active {
  grid-template-rows: 1fr;
}
.sticky-heading {
  position: sticky;
  top: 0rem;
}
.documentation::after {
  content: "";
  width: 100.7%;
  height: 100.5%;
  @apply border-2 border-body absolute -top-[.5%] bottom-0 -left-[.7%] rounded-tl-md;
}
/* end of documentation page */
