// variables
$maxHeight: 100vh;

.parent_page_wrapper {
    height: $maxHeight;

    &::before {
        height: 100svh;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    .banner {
        overflow: hidden;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: black;
            z-index: -1;
        }

        &::after {
            top: unset;
            top: 30vh;
            height: 100vh;
            transform: rotateZ(-15deg) scaleX(2);
        }
    }

    .recent {
        overflow: hidden;

        $setTop: 30vh;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: $setTop;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: black;
            transform: rotateZ(15deg) scaleX(2);
            z-index: -1;
        }

        &::after {
            transform: unset;
            top: calc($setTop * 2);
            height: 100%;
        }
    }

    .cards_wrapper {
        display: grid;
        column-gap: 9rem;
        row-gap: 3rem;
        grid-auto-flow: row;
        grid-template: auto/repeat(auto-fill, minmax(150px, 1fr));
    }
}