// variables
$maxHeight: 100svh;

* {
    box-sizing: border-box !important;
    transition: all 50ms ease-in-out !important;
}

.container {
    width: 90%;
    margin: auto;
}

a,
* a,
*[href],
button,
* button {
    cursor: pointer !important;
}

.parent_page_wrapper {
    &::before {
        height: 100svh;
    }

    .banner {
        overflow: hidden;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: black;
            z-index: -1;
        }

        &::after {
            top: unset;
            top: 30vh;
            height: 100vh;
            transform: rotateZ(-15deg) scaleX(3);
        }

        @media screen and (max-width: 768px) {
            &::after {
                top: 20vh;
            }
        }
    }

    .recent {
        overflow: hidden;
        $setTop: 30vh;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: $setTop;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: black;
            transform: rotateZ(15deg) scaleX(3);
            z-index: -1;
        }

        &::after {
            transform: unset;
            top: calc($setTop * 2);
            height: 100%;
        }
    }

    .cards_wrapper {
        $cardWidth: 280px;
        width: 100%;
        display: grid;
        -moz-column-gap: 9rem;
        column-gap: 9rem;
        row-gap: 3rem;
        grid-auto-flow: row;
        grid-template: auto/repeat(auto-fill, minmax($cardWidth, 1fr));

        & .card {
            background: rgba(white, 0.1);

            &:hover {
                outline: rgba(white, 0.5) !important;
                background: rgba(black, 0.4);
            }
        }

        @media screen and (max-width: 768px) {
            display: flex !important;
            flex-direction: row;
            overflow-y: hidden;
            overflow-x: scroll;
            gap: calc((100% / 10) + 0.5rem);
            scroll-snap-type: x mandatory;

            & .card {
                display: block;
                min-width: $cardWidth;
                flex-grow: 1;
                flex-shrink: 1;
                scroll-snap-align: start;

                &:first-child {
                    margin-left: calc(100% / 2);
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

@-webkit-keyframes signanim {
    from {
        background-blend-mode: hard-light;
    }

    to {
        background-blend-mode: difference;
    }
}

@keyframes signanim {
    from {
        background-blend-mode: hard-light;
    }

    to {
        background-blend-mode: difference;
    }
}

.signpage {
    background-image: url("https://res.cloudinary.com/dsmydljex/image/upload/v1713996316/ppt/app%20assets/Login_Image_jn8wg8.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 1);
    background-blend-mode: hard-light;
    // animation: signanim 5s ease-in-out 10ms infinite;
}

.upload_svg_cover {
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background-color: black;
        z-index: -1;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0 !important;
        width: 100%;
        height: 100vh;
        transform: rotateZ(-65deg) translateX(50%) translateY(-108%) scaleX(1.3);
        background: black;
        z-index: -2;
        transform-origin: right top;
    }
}

.chokes {
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: black;
        z-index: -1;
    }
}

.bottom_cover {
    &::after {
        content: "";
        display: block;
        top: 70vh;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw;
        min-height: 100vh;
        background: #fffff0;
        z-index: -1;
    }
}

.form_tracker_wrapper {
    & > span {
        overflow-x: hidden;
        &:nth-child(1) {
            & > span {
                &:first-child {
                    position: relative;
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        width: calc((100% * 6) + 2rem);
                        padding: 0.1rem;
                        background-color: white;
                        margin-left: 100%;
                    }
                }
            }
            &.active {
                & > span {
                    &:first-child {
                        background-color: #ffa500 !important;
                        &::after {
                            background-color: #ffa500 !important;
                        }
                    }
                    &:last-child {
                        color: #ffa500 !important;
                    }
                }
            }
        }

        &:nth-child(2) {
            & > span {
                &:first-child {
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: calc((100% * 6) + 1rem);
                        padding: 0.1rem;
                        background-color: white;
                        margin-right: 100%;
                    }
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        width: calc((100% * 6) + 1rem);
                        padding: 0.1rem;
                        background-color: white;
                        margin-left: 100%;
                    }
                }
            }
            &.active {
                & > span {
                    &:first-child {
                        background-color: #ffa500 !important;
                        &::before,
                        &::after {
                            background-color: #ffa500 !important;
                        }
                    }
                    &:last-child {
                        color: #ffa500 !important;
                    }
                }
            }
        }

        &:nth-child(3) {
            & > span {
                &:first-child {
                    position: relative;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: calc((100% * 6) + 2rem);
                        padding: 0.1rem;
                        background-color: white;
                        margin-right: 100%;
                    }
                }
            }
            &.active {
                & > span {
                    &:first-child {
                        background-color: #ffa500 !important;
                        &::before {
                            background-color: #ffa500 !important;
                        }
                    }
                    &:last-child {
                        color: #ffa500 !important;
                    }
                }
            }
        }
    }
}
