name: Build and Deploy
on:
  push:
    branches:
      - deploy
      - test
jobs:
    build:
        runs-on: ubuntu-latest
        env:
            SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
            VITE_BACKEND_URL: ${{ secrets.VITE_BACKEND_URL }}
            VITE_FLW_PUBLIC_KEY: ${{ secrets.VITE_FLW_PUBLIC_KEY }}
            VITE_CONVEX_URL: ${{ secrets.VITE_CONVEX_URL }}
            VITE_CLOUDFRONT_ORIGIN: ${{ secrets.VITE_CLOUDFRONT_ORIGIN }}
            VITE_S3_ORIGIN: ${{ secrets.VITE_S3_ORIGIN }}
        steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ secrets.AWS_REGION }}

        - name: Set up Node.js
          uses: actions/setup-node@v2
          with:
            node-version: '20.12.2'

        - name: Setup SSH key
          uses: webfactory/ssh-agent@v0.5.4
          with:
            ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
            
        - name: Install dependencies
          run: npm install
        
        - name: Build the project
          run: npm run build
        
        - name: Deploy to S3 (Production)
          if: github.ref == 'refs/heads/deploy'
          run: |
            aws s3 sync --delete ./dist s3://${{ secrets.AWS_S3_BUCKET }} 
        
        - name: Invalidate CloudFront cache (Production)
          if: github.ref == 'refs/heads/deploy'
          run: |
            aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_DIST_ID }} --paths "/*"
        
        - name: Deploy to S3 (Staging)
          if: github.ref == 'refs/heads/test'
          run: |
            aws s3 sync --delete ./dist s3://${{ secrets.AWS_S3_BUCKET_STAGING }}

        - name: Invalidate CloudFront cache (Staging)
          if: github.ref == 'refs/heads/test'
          run: |
            aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_DIST_ID_STAGING }} --paths "/*"